.book-buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color .2s;
}

.dark-button {
    background-color: brown;
    color: aliceblue;
    border-color: brown;
}

.light-button {
    background-color: beige;
    border-color: beige;
    color: brown;
}

.button:hover {
    cursor: pointer;
    background-color: burlywood;
}

.button:disabled {
    background-color: gray;
    border-color: gray;
    color: black;
}

.bag-close-btn, .delete-btn {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.bag-close-btn {
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../icons/cross.png);
}

.delete-btn {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 20px;
    background-image: url('../icons/cross-icon.png');
    justify-self: end;
}

.order-btn {
    order: 3;
    align-self: flex-end;
}

.gifts-close-btn, .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

