.button {
    background-color: brown;
    color: aliceblue;
    border-radius: 5px;
    border-color: brown;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    font-size: 16px;
}

.button:disabled {
    background-color: gray;
    border-color: gray;
    color: black;
}

.book-info-button, .add-button {
    position: absolute;
    bottom: 20px;
}

.book-info-button {
    background-color: beige;
    border-color: brown;
    color: brown;
}

.add-button {
    right: 50px;
}

.bag-close-btn {
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(icons/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.delete-btn {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 20px;
    background-image: url('icons/cross-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.order-btn {
    order: 3;
    align-self: flex-end;
}

.gifts-close-btn, .submit-close-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

