body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
}

main {
    margin-top: 30px;
}

.greeting {
    height: 30px;
    font: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: brown;
    color: aliceblue;
}

.bag-section {
    position: relative;
    padding-top: 10px;
    height: 60px;    
}

.bag-img {
    margin: 20px;   
    height: 40px;
    width: 40px;
    background-image: url('icons/bag-icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 40px;
    right: 0;
}

.bag {
    display: none;
}

.bag.show {
    display: flex;
    position: fixed;
    overflow: scroll;
    top: 50px;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    background-color:burlywood;
    z-index: 1;
    opacity: 1;
    border-radius: 5px;
}

.bag-close-btn {
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(icons/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.bag-name {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.book-in-bag {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    border-style: groove;
    border-radius: 5px;
    border-color: bisque;
}

.bag-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
}
.delete-btn {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: 20px;
    background-image: url('icons/cross-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.total {
    order: 2;
    margin: 10px;
    color: crimson;
    font-size: 24px;
    font-weight: 500;
}
.order-btn {
    width: 100px;
    order: 3;
    background-color: brown;
    border-radius: 5px;
    border-color: brown;
    color: aliceblue;
    align-self: flex-end;
}



.book {    
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 30px;
    background-color: antiquewhite;
}

.book img {
    width: 30vw;
    height: 40vw;
}

.book-capture {
    flex: 1;
    margin: 10px 10px;
    font: Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    
}

.book-name {
    font-weight: 600;
    font-size: 150%;
    margin: 20px 0 20px;
}

.book-info-button, .add-button {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.book-info-button {
    background-color: beige;
    border-color: brown;
    color: brown;
}

.add-button {
    right: 50px;
    background-color: brown;
    border-color: brown;
    color: beige;
}

.popup, .popup-blocker  {
    display: none;
}

.popup.show {
    display: block;
    position: absolute;
    z-index: 2;
    width: 80%;
    background-color: burlywood;
    margin: 10px auto 10px;
    padding: 5px;
    border-radius: 5px;
    border-color: bisque;
}

.popup-blocker.show {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}

body.no-scroll {
    overflow: hidden;
}


.close {
    z-index: 2;
    width: 50px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    color: brown;
    border-color: brown;
    background-color: aliceblue;
}

