.book {    
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 30px;
    background-color: antiquewhite;
}

.book img {
    width: 30vw;
    height: 40vw;
}

.book-capture {
    flex: 1;
    margin: 10px 10px;
    font: Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    
}

.book-name {
    font-weight: 600;
    font-size: 150%;
    margin: 20px 0 20px;
}

.book-info-button, .add-button {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.book-info-button {
    background-color: beige;
    border-color: brown;
    color: brown;
}

.add-button {
    right: 50px;
    background-color: brown;
    border-color: brown;
    color: beige;
}

.popup {
    display: none;
}

.popup .show {
    display: block;
}

