body {
    font-style: Helvetica, sans-serif;
    font-size: 24px;
    background-color: beige;
}

form {
    margin: 50px auto 50px;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
}

ul {
    display: grid;
    grid-gap: 15px;
}

li {
    display: flex;
    list-style-type: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    margin-bottom: 10px;
}


.form-field {
    font-weight: 600;
    margin-right: 20px;
}

li input {
    justify-self: flex-end;
    flex: 1;
}

input:invalid {
    border-color: red;
}

